[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"
autopep8 = "*"
pyment = "*"
memory-profiler = "*"

[packages]
flask = "*"
praw = "*"
gunicorn = "*"
redis = "==2.10.6"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-rq2 = "*"
flask-admin = "*"
pillow = "*"
tensorflow = "==1.12.0"
psycopg2 = "*"
scikit-image = "*"

[requires]
python_version = "3.6"
